@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Inter', sans-serif;
  padding: 10px;
  margin: 0;
  padding: 0;
  height: full;
  background-color: var(--bg);

}


:root {
  --bg: #95f5a6;
  --card: #ffffff;
  --text: #1e1e1e;

  --accent: #00b41e;
  --secondary: #4cff6a85;
}

.dark {
  --bg: #1a1a2e;
  --card: #16213e;
  --text: #f3f4f6;

  --accent: #ffeb3b;
  --secondary: #002a6d;
}

.glass-nav {
  background: rgba(20, 20, 20, 0.35);

  backdrop-filter:
    blur(40px)
    saturate(180%);

  -webkit-backdrop-filter:
    blur(40px)
    saturate(180%);

  border: 1px solid rgba(255,255,255,.12);

  box-shadow:
    0 10px 40px rgba(0,0,0,.35),
    inset 0 1px 1px rgba(255,255,255,.12);
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}